sources:
  - Z-modem_ip-workspace/qpsk_modulator/dds.v
  - Z-modem_ip-workspace/qpsk_modulator/qpsk_modulator.v
  - Z-modem_ip-workspace/qpsk_modulator/tb_qpsk_modulator.sv
  - Z-modem_ip-workspace/qpsk_demodulator/dds.v
  - Z-modem_ip-workspace/qpsk_demodulator/simple_lpf.v
  - Z-modem_ip-workspace/qpsk_demodulator/qpsk_demodulator.v
  - Z-modem_ip-workspace/qpsk_demodulator/tb_qpsk_demodulator.sv
  - Z-modem_ip-workspace/adc/adc_interface.v
  - Z-modem_ip-workspace/costas_loop/dds.v
  - Z-modem_ip-workspace/costas_loop/loop_filter.v
  - Z-modem_ip-workspace/costas_loop/costas_loop.v
