sources:
  - Z-modem_ip-workspace/adc/src/adc_interface.v
  - Z-modem_ip-workspace/adc/src/adc_interface_sim.v
  - Z-modem_ip-workspace/qpsk_modulator/src/dds.v
  - Z-modem_ip-workspace/qpsk_modulator/src/qpsk_modulator.v
  - Z-modem_ip-workspace/qpsk_modulator/tb/tb_qpsk_modulator.sv
  - Z-modem_ip-workspace/qpsk_modulator/tb/tb_dds.v
  - Z-modem_ip-workspace/qpsk_demodulator/src/dds.v
  - Z-modem_ip-workspace/qpsk_demodulator/src/simple_lpf.v
  - Z-modem_ip-workspace/qpsk_demodulator/src/qpsk_demodulator.v
  - Z-modem_ip-workspace/qpsk_demodulator/tb/tb_qpsk_demodulator.sv
  - Z-modem_ip-workspace/costas_loop/src/dds.v
  - Z-modem_ip-workspace/costas_loop/src/loop_filter.v
  - Z-modem_ip-workspace/costas_loop/src/costas_loop.v
  - Z-modem_ip-workspace/aes/src/sbox.v
  - Z-modem_ip-workspace/aes/src/inv_sbox.v
  - Z-modem_ip-workspace/aes/src/aes_key_expand.v
  - Z-modem_ip-workspace/aes/src/aes_core.v
  - Z-modem_ip-workspace/aes/src/aes_inv_core.v
  - Z-modem_ip-workspace/aes/src/aes_encrypt.v
  - Z-modem_ip-workspace/aes/src/aes_decrypt.v
  - Z-modem_ip-workspace/aes/tb/tb_aes.sv
